.left-nav {
    width: 400px;
    position: fixed;
}

.left-nav ul {
    margin: 110px 0 0 115px;
    list-style: none;
}

.left-nav ul li {
    width: 180px;
    height: 60px;
    background: rgb(82, 202, 238);
    border: 5px solid white;
    border-radius: 50px;
    font-size: 14px;
}

.left-nav ul .li1 {
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    line-height: 50px;
    background: #333;
    border-radius: 50px;
    color: #fff;
}

.left-nav ul li a {
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
    line-height: 50px;
}

.left-nav ul li:hover {
    color: #fff;
    background: #00cecb;
    animation: changeColor 2s infinite;
    animation-delay: 0.3s;
}

@keyframes changeColor {
    0% {
        background: #1d84b5;
    }
    50% {
        background: #00cecb;
    }
    100% {
        background: #1d84b5;
    }
}

.left-nav .search {
    background: rgb(170, 204, 255);
    width: 240px;
    margin: 20px 0 0 80px;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
}

.left-nav .search h2 {
    font-size: 18px;
}

.left-nav .search p {
    float: left;
    font-size: 15px;
}

.left-nav .search select {
    width: 88px;
    height: 25px;
    line-height: 25px;
}

.left-nav .search button {
    width: 150px;
    height: 30px;
    cursor: pointer;
}

.left-nav .search input {
    width: 100px;
    height: 20px;
    line-height: 25px;
}

.left-nav .search div {
    margin: 20px 0;
}

.content {
    position: relative;
    top: 95px;
    left: 400px;
    height: 1000px;
    width: 1000px;
    background: #f0f8ff;
    border: 2px solid #e1e2e2;
}
.content h2,
.content h3 {
    text-align: center;
    margin: 20px 0;
}
.content h2 {
    font-size: 30px;
}
.content h3 {
    background: #d3d3d3;
    border: 1px solid #e1e2e2;
    width: 600px;
    margin: 0 auto;
    line-height: 2em;
    font-weight: normal;
}
.content p {
    width: 900px;
    margin: 25px auto;
    line-height: 1.5em;
}
.barChart1,
.barChart2 {
    height: 400px;
    width: 700px;
    margin: 0 auto;
}
