* {
    padding: 0;
    margin: 0;
}

.login-container {
    height: 600px;
    width: 100%;
    padding-top: 90px;
    background: url(../img/login.png);
    position: relative;
}

.login-container .login-main {
    width: 380px;
    height: 380px;
    background: #fff;
    position: absolute;
    top: 135px;
    right: 50px;
    border-radius: 5px;
}

.login-container .login-main input {
    width: 320px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    box-sizing: border-box;
    font-size: 16px;
    margin: 60px 30px 10px 30px;
}

.login-container .login-main #passwd {
    margin: 20px 30px 10px 30px;
}

.confirm-btn {
    margin: 50px 30px 15px 30px;
    width: 320px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    background-color: #569ae9;
    font-size: 14px;
    color: #fff;
    line-height: 40px;
    cursor: pointer;
}